.sw*
.idea
.vscode
.gradle*
gradle/
gradle*
*.iml
**/out
**/build
**/bin
build/
out
/list-library-contract/target
/classes/production/list-library-task
/classes

logs/
classes/

package.json
CHANGELOG.md
